<button 
  [routerLink]="['add']"
  class="mb-1"
  nz-button 
  nzType="primary"
>Add</button>

<nz-table #basicTable [nzData]="teacherList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date of Birth</th>
        <th>Phone Number</th>
        <th>Telegram Address</th>
        <th>Email Address</th>
        <th>Address</th>
        <th>Specialization</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of basicTable.data">
        <td>{{ teacher.name }}</td>
        <td>{{ teacher.description }}</td>
        <td>{{ teacher.dateOfBirth }}</td>
        <td>{{ teacher.phone }}</td>
        <td>{{ teacher.telegramUserName }}</td>
        <td>{{ teacher.email }}</td>
        <td>{{ teacher.address }}</td>
        <td>{{ teacher.specialization }}</td>
        <td>
          <nz-button-group>
            <button nz-button>
                <span nz-icon nzType="delete" nzTheme="twotone"></span>
            </button>
            <button nz-button>
                <span (click)="edit(teacher.id)" nz-icon nzType="edit" nzTheme="twotone"></span>
            </button>
          </nz-button-group>
        </td>
      </tr>
    </tbody>
  </nz-table>